configuration {
  modes: "log:~/.config/rofi/scripts/clipboard.sh,emoji:rofimoji";
  icon-theme: "Numix-Circle";
  show-icons: true;
  terminal: "wezterm";
  drun-display-format: "{icon} {name}";
  location: 4;
  disable-history: false;
  hide-scrollbar: true;
  display-emoji: " 󰞅 ";
  display-log: " 󱃔 ";
  sidebar-mode: true;
}

@theme "catppuccin-mocha"

listview {
	columns: 1;
}

window {
  height: 97%;
  width: 20%;
}
